<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="http://localhost:3000/chats">
        <label id="from">from:</label>
        <input type="text" name="from">
        <label id="msg">message</label>
        <textarea name="msg"></textarea>
        <label id="to">to:</label>
        <input type="text" name="to">
        <button>submit</button>

    </form>
</body>
</html>